.button {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: var(--primary-white);
  outline: none;
  background-color: var(--primary-black);
  transition: color 250ms linear, background-color 250ms linear;
}

.white {
  color: var(--primary-black);
  background-color: var(--primary-white);
  transition: color 250ms linear, background-color 250ms linear;
}

.button:hover,
.white:hover {
  color: var(--primary-black);
  background-color: var(--secondary-red);
}