.hero {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
}

.hero__headings {
  position: relative;
  background-color: var(--primary-white);
}

.hero__title-container {
  position: absolute;
  padding: 0 14rem 0 7rem;
  top: 18rem;
  left: 7rem;
}

.hero__title {
  font-size: 7rem;
}

.hero__subtitle {
  padding: 2rem 0 3rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.hero__text {
  font-size: 1.8rem;
  color: var(--secondary-black);
}

.hero__image {
  filter: grayscale(40%);
}