.Navigation {
    width: 100%;
}

.NavigationWrapper {
    display: flex;
    width: 80%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.NavigationMenu {
    display: flex;
    list-style: none;
}

.NavigationMenuItem {
    padding-right: 2rem;
}

.NavigationMenuLink {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
}