.about__grid {
  display: grid;
  padding: 5rem 5rem 0;
  grid-template-columns: 2fr 1fr;
}

.about__info-text {
  font-size: 1.8rem;
  color: var(--secondary-black);
}

.about__info-container {
  padding: 0 15rem 0 0;
}

.about__skill-list {
  display: grid;
  padding-left: 2rem;
  grid-template-columns: repeat(2, minmax(10rem, 15rem));
}

.about__image {   
  display: block;
  width: 35rem;
  text-align: center;
  border-radius: .5rem;
  filter: grayscale(100%);
  transition: filter 250ms linear;
}

.about__image:hover {
  filter: grayscale(0);
}

.about__image-container {
  display: flex;
  justify-content: center;
}