.navbar {
  position: absolute;
  display: flex;
  padding: 0 7rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__list-item {
  padding: 0 3rem;
}

.navbar__list-item:last-child {
  padding-right: 0;
}

.navbar__list-link {
  position: relative;
  display: inline-block;
  margin: 2.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  transition: color 250ms linear;
}

.navbar__list-link:after {
  position: absolute;
  width: 100%;
  height: .1rem;
  left: 0;
  bottom: -0.1rem;
  content: '';
  background-color: var(--primary-black);
  transform: scale(0);
  transform-origin: center;
  transition: transform 250ms linear, background-color 250ms linear;
}

.navbar__list-link:hover::after {
  background-color: var(--primary-red);
  transform: scale(1);
}

.navbar__list-link:hover {
  color: var(--primary-red);
}